footer {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}


footer > .symbol {
  background-color: #EB9967;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin: 0px;
  margin-right: 10px;
  font-weight: bold;
}

footer > .caption {
  font-size: 19px;
}

footer > .total-box {
  height: 3.5rem;
  width: 11rem;
  background-color: #FFF4D2;
  border: solid 3px #EA9562;
  margin-left: 25px;
  position: relative;
  font-weight: bold;
}
footer > .total-box > .total-money {
  bottom: 1rem;
  position: absolute;
  right: 50px;
}
footer > .total-box > .total-monetaryUnit {
  position: absolute;
  bottom: 0px;
  right: 3px;
}
