<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="hidden" [(ngModel)]="event.uuid" name="uuid">
    <select name="family-person" id="" [(ngModel)]="event.familyPerson" name="familyPerson" required>
      <option value="" disabled>お名前（続柄）</option>
      <option *ngFor="let person of family" [ngValue]="person">
        {{person.name}}さん
      </option>
    </select>
    <input type="number" placeholder="年次" [(ngModel)]="event.year" name="year" required>
    <input type="text" placeholder="イベント" [(ngModel)]="event.eventName" name="eventName" required>
    <input type="number" placeholder="金額" [(ngModel)]="event.money" name="money" required><span>万円</span>
    <button type="submit">変更</button>
  </form>
