span {
  display: inline-block;
  margin: 1px;
  border-bottom: solid 1px #EEEEEE;
}

.year {
  width: 4em;
  text-align: center;
}
.age {
  width: 4em;
  text-align: center;
}

.event {
  width: 9.5em;
}

.money {
  width: 5em;
  text-align: right;
}
