header {
  display: inline-block;
  border-bottom: solid 1px #dddddd;
}
span {
  display: inline-block;
  margin: 1px;
}
ul{
  list-style: none;
  padding: 0;
}

.family-ages {
  display: flex;
  flex-wrap: wrap;
}

.family-ages-header {
  width: 100%;
}

.year {
  width: 4em;
  text-align: center;
}

.age {
  width: 4em;
  text-align: center;
}
.event {
  width: 10em;
}

.money {
  width: 5em;
  text-align: right;
}
