.box {
  width: 22rem;
  border: solid 1px #8E969B;
}
.heading {
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
  background-color: #7DADD2;
  font-weight: bold;
  text-align: center;
}

.row {
  display: flex;
  border-top: solid 1px #8E969B;
  height: 3.5rem;
  line-height: 3.5rem;
}

.title {
  font-size: 14px;
  border-right: solid 1px #8E969B;
  padding-left: 10px;
  border-radius: 0;
  background-color: #BBD0E0;
  width: 10rem
}

.money {
  text-align: right;
  border: none;
  width: 7rem;
}
